@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background:#c2d9f3;
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 3px;
	padding: 12px 24px;
	border: 0;
	color: #fff;
	background: #ff5000;
	line-height: 1.15;
	font-size: 15px;
	:hover {
		transition: all .1s ease;
		box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
	}

}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}
img{
	height: 38px;
	margin-right:10px ;
	position:relative;
	top:8px;
}


.chat-header {
	background: #003B8E;
	color: #fff;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: #1564BF;
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	border-radius: 5px;
	
	font-size: 20px;
	background: rgba(253, 253, 253, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #ca9ba250;
	border-radius: 5px;
	overflow-x:auto;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #003B8E;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #4c4b4b;
}

.chat-form-container {
	padding: 20px 30px;
	background-color:#003B8E;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	
	text-align: center;
	padding: 20px;
	background: #003B8E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: #1564BF;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
